<h1>Athena</h1>
<p></p>
<div class="row">
<div class = "col-md-8 " >
	<div class="row filahalf" style="background-color: pink;">
		  <div class = "col-md-12 text-center my-auto" >
				<p style="maxwidth: 75%">Con athena tienes compañia y seguridad </p>
		  </div>
    </div>
	<div class="row filahalf" style="background-color: lightblue;">
		  <div class = "col-md-12 text-center my-auto" >
				<p>Proximamente en:</p>
			  <%= image_tag("/assets/AppstoreLogo.png", :size => "191x66")  %>
			  <%= image_tag("/assets/GooglePlayLogo.png", :size => "191x66") %>
		  </div>
    </div>
</div>
<div class = "col-md-4 text-center my-auto" style="background-color:lightgray">
	<%= image_tag("/assets/cellphone.png") %>
</div>
</div>
<div class="row" >
	<div class = "col-md-6 text-center my-auto" style="background-color: pink">
		  Compañia por: <br> foros, chat, tips
	</div>
	<div class = "col-md-6 text-center my-auto" style="background-color: lavender">
		  Seguridad por: <br> Boton de panico
	</div>
</div>
<div class="row">
	<div class = "col-md-4 text-center my-auto" style="background-color: lightyellow">
		  Foros
	</div>
	<div class = "col-md-4 text-center my-auto" style="background-color: lightblue">
		  Chat
	</div>
	<div class = "col-md-4 text-center my-auto" style="background-color: moccasin">
		  Tips
	</div>
</div>