
<div class="pos-f-t">

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h1 style=" font-family: 'museo700';-webkit-text-fill-color: #fff;font-size: 62px;">ATHENA</h1>
      <span class="text-muted"></span>
    </div>
  </div>

  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div style="
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
">
<div class = "col-md-8 " >
	<div class="row filahalf" style="background-color: pink;">
		  <div class = "col-md-12 text-center my-auto" >
		  	
	               <%= image_tag("/assets/logo.png")  %>
	               <p style="maxwidth: 75%">Red de Appoyo para mujeres </p>
		  </div>
    </div>
	<div class="row filahalf" style="background-color: lightblue;">
		  <div class = "col-md-12 text-center my-auto" >
				<p>Proximamente en:</p>
			  <%= image_tag("/assets/AppstoreLogo.png", :size => "191x66")  %>
			  <%= image_tag("/assets/GooglePlayLogo.png", :size => "191x66") %>
		  </div>
    </div>
</div>
<div class = "col-md-4 text-center my-auto" style="background-color:lightgray">
	<%= image_tag("/assets/cellphone.png") %>
</div>
</div>
<div class="row" >
	<div class = "col-md-6 text-center my-auto" style="background-color: pink">
		  Compañia por: <br> foros, chat, tips
	</div>
	<div class = "col-md-6 text-center my-auto" style="background-color: lavender">
		  Seguridad por: <br> Boton de panico
	</div>
</div>
<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active text-center" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">FOROS</a>
    <a class="nav-item nav-link text-center" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">TIPS</a>
    <a class="nav-item nav-link text-center" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">CHAT</a>
  </div>
</nav>
<div class="container text-center ">
   <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      	 <br>
            <span class="icon-fire" style=" font-size: 164px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
            <br>
            <p>What is Lorem Ipsum?
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      	 <span class="icon-bul" style=" font-size: 164px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
            <br>
            <p>What is Lorem Ipsum?
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>


           
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      	 <span class="icon-trustworthy" style=" font-size: 164px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
            <br>
            <p>What is Lorem Ipsum?
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
      </div>
   </div>

